<div class="hero-wrap js-fullheight" style="background-image: url('__CDN__/assets/img/images/bg_4.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
            data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                        class="mr-2"><a href="/index/index/index.html">首页</a></span> <span>经验攻略</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    {$newsContent.title}</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                {$newsContent.content}
            </div>
            <div class="col-md-4 sidebar ftco-animate">
                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3>文章分类</h3>
                        {foreach name="categorylist" item="vo"}
                        <li><a href="#">{$vo.category_name}<span>{$vo.category_count}</span></a></li>
                        {/foreach}
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>近期文章</h3>
                    {foreach name="recentNews" item="vo"}
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url({$vo.image});"></a>
                        <div class="text">
                            <h3 class="heading"><a href="/index/index/blog_detail/id/{$vo.id}">{$vo.title}</a></h3>
                            <div class="meta">
                                <div><a href="/index/index/blog_detail/id/{$vo.id}"><span
                                            class="icon-calendar"></span><span class="createtime">
                                            {$vo.createtime}</span></a></div>
                            </div>
                        </div>
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
</section> <!-- .section -->