<div class="hero-wrap js-fullheight" style="background-image: url('__CDN__/assets/img/images/bg_5.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
            data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a
                            href="/index/index/index.html">首页</a></span> <span>热门旅游城市</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{$countrylist.name}</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    {foreach name="productlist" item="vo"}
                    <div class="col-md-4 ftco-animate">
                        <div class="destination">
                            <a href="/index/index/tour_detail/id/{$vo.id}" target="_blank" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({$vo.image});">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search2"></span>
                                </div>
                            </a>
                            <div class="text p-3">
                                <div class="d-flex">
                                    <div class="one">
                                        <h3><a href="#">{$vo.title}</a></h3>
                                        <p class="rate">
                                            {for start="1" end="$vo.rate"}
                                            <i class="icon-star"></i>
                                            {/for}
                                            <span>8 Rating</span>
                                        </p>
                                    </div>
                                    <div class="two">
                                        <span class="price per-price">￥{$vo.price}<br></span>
                                    </div>
                                </div>
                                <p>{$vo.p}</p>
                                <hr>
                                <p class="bottom-area d-flex">
                                    <span><i class="icon-map-o"></i> {$vo.country}</span>
                                    <span class="ml-auto"><a href="/index/index/tour_detail/id/{$vo.id}">查看详情</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {/foreach}
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section> <!-- .section -->