<div class="hero-wrap js-fullheight" style="background-image: url('__CDN__/assets/img/images/bg_1.jpg');">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
			data-scrollax-parent="true">
			<div class="col-md-9 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
				<h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><strong>大荣旅游 <br></strong>
				</h1>
				<p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">尽享旅游乐趣，探索世界每一个角落</p>
				<div class="block-17 my-4">
					<form action="" method="post" class="d-block d-flex">
						<div class="fields d-block d-flex">
							<div class="textfield-search one-third">
								<input type="text" class="form-control" placeholder="搜索: 如，尼亚加拉瀑布, 黄刀公园">
							</div>
						</div>
						<input type="submit" class="search-submit btn btn-primary" value="搜索">
					</form>
				</div>
				<p>选择热门旅游项目</p>
				<p class="browse d-md-flex">
					<span class="d-flex justify-content-md-center align-items-md-center"><a href="/index/index/tour/id/1"
							target="_blank"><i class="flaticon-fork"></i>跟团游</a></span>
					<span class="d-flex justify-content-md-center align-items-md-center"><a href="/index/index/tour/id/3"
							target="_blank"><i class="flaticon-hotel"></i>高端定制游</a></span>
					<span class="d-flex justify-content-md-center align-items-md-center"><a href="/index/index/tour/id/2"
							target="_blank"><i class="flaticon-meeting-point"></i>冬/夏令营</a></span>
					<span class="d-flex justify-content-md-center align-items-md-	center"><a href="/index/index/tour/id/4"
							target="_blank"><i class="flaticon-shopping-bag"></i>主题游</a></span>
				</p>
			</div>
		</div>
	</div>
</div>

<!--     <section id="about-us" class='overlay'>
        <div class='about-us'>
          <div clss='container bg-text'>
            <h1 style="margin-top:35px;" class="text-center">关于我们</h1>
            <div style="line-height:24px; text-align:center; margin:0 auto 35px; width:80%;">
              南京大荣观光旅游有限公司成立于2002年，专业从事国内以及海外旅游相关业务。经过十多年发展，公司设有南京总部以及杭州、江阴办事处等分支机构。公司始终秉承“顾客需求至上，品质卓越为本”的经营理念，不断推进产品创新，积极优化营销渠道；展望未来，公司将凭借深厚行业根基，加快移动互联网时代的业务转型，成为规模领先、品质卓越的中国旅游先锋者。
            </div>
          </div>
        </div>
    </section> -->


<section class="ftco-section ftco-destination">
	<div class="container">
		<div class="row justify-content-start mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate">
				<span class="subheading"></span>
				<h2 class="mb-4"><strong class='g-theme-color'>热门</strong> 城市</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="destination-slider owl-carousel ftco-animate">
					{foreach $cityList as $key => $vo}
					<div class="item">
						<div class="destination">
							<a href="/index/index/city/id/{$vo.id}" target="_black"
								class="img d-flex justify-content-center align-items-center"
								style='background-image: url({$vo.image});'>
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="icon-search2"></span>
								</div>
							</a>
							<div class="text p-3">
								<h3><a href="/index/index/city/id/{$vo.id}" target="_black">{$vo.name}</a></h3>
								<span class="listing">{$vo.attractions}</span>
							</div>
						</div>
					</div>
					{/foreach}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter"
	style="background: url(__CDN__/assets/img/images/bg_1.jpg) center no-repeat fixed;">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
				<h2 class="mb-4">大荣旅游</h2>
				<span class="subheading">顾客需求至上，品质卓越为本</span>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<strong class="number" data-number="17">0</strong>
								<span>从事旅游领域17年</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<strong class="number" data-number="40">0</strong>
								<span>40多条精品旅游线路</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<strong class="number" data-number="87000">0</strong>
								<span>数万游客满意好评</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-start pb-3">
			<div class="col-md-7 heading-section ftco-animate">
				<span class="subheading"></span>
				<h2 class="mb-4"><strong class="g-theme-color">热门</strong> 路线推荐</h2>
			</div>
		</div>
	</div>
	<div class="button-group filter-button-group">
		{foreach $groupList as $key => $vo}
			<button class="btn btn-primary" data-filter=".{$vo.filter}">{$vo.name}</button>
		{/foreach}
	</div>

	<div class="container">
		<div class="grid row">

			{foreach $productlist as $key => $vo}
			<div class="grid-item col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 {$vo.filter}">
				<div class="grid-item-content destination">
					<a href="/index/index/tour_detail/id/{$vo.id}" target="_blank"
						class="img img-2 d-flex justify-content-center align-items-center"
						style="background-image: url({$vo.image});">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="icon-search2"></span>
						</div>
					</a>
					<div class="text p-3 ">
						<div class="d-flex">
							<div class="one">
								<h3><a href="#">{$vo.title}</a></h3>
								<p class="rate">
									{for start="1" end="$vo.rate"}
									<i class="icon-star"></i>
									{/for}
									<span>8 Rating</span>
								</p>
							</div>
							<div class="two">
								<span class="price per-price">￥{$vo.price}<br></span>
							</div>
						</div>
						<p class="text-descp">{$vo.p}</p>
						<hr>
						<p class="bottom-area d-flex">
							<span><i class="icon-map-o"></i> {$vo.country}</span>
							<span class="ml-auto"><a href="/index/index/tour_detail/id/{$vo.id}">查看详情</a></span>
						</p>
					</div>
				</div>
			</div>
			{/foreach}
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-start mb-5 pb-3">
			<div class="col-md-12 heading-section ftco-animate">
				<span class="subheading"></span>
				<h2 style="text-align: center;"><strong class="g-theme-color">旅游</strong> 经验攻略</h2>
			</div>
		</div>

		<div class="blog-flex">
			<div class="f-entry-img" style="background-image: url(/uploads/20190212/d343724156e0f66f4b4d383052e69995.jpg);">
			</div>
			<div class="blog-entry aside-stretch-right">
				<div class="row">
					{foreach name="newslist" item="vo"}
					<div class="col-md-12 animate-box">
						<a href="/index/index/blog_detail/id/{$vo.id}" class="blog-post">
							<span class="img"
								style="background-image: url({$vo.image});"></span>
							<div class="desc">
								<span class="date">{$vo.createtime}</span>
								<h3>{$vo.title}</h3>
								<span class="cat">{$vo.category}</span>
							</div>
						</a>
					</div>
					{/foreach}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section-parallax">
	<div class="parallax-img d-flex align-items-center">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
					<h2>订阅最新咨询</h2>
					<p>订阅我们的最新资讯，关注所有最新的优惠、旅游产品、旅游线路等等。</p>
					<div class="row d-flex justify-content-center mt-5">
						<div class="col-md-8">
							<form action="#" class="subscribe-form">
								<div class="form-group d-flex">
									<input type="text" class="form-control" placeholder="输入电子邮箱">
									<input type="submit" value="点击订阅" class="submit px-3">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>