<div class="hero-wrap js-fullheight" style="background-image: url('__CDN__/assets/img/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
            data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                        class="mr-2"><a href="/index/index/index.html">首页</a></span> <span>热门旅游路线</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{$tourname.title}</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap-division">
                            <div class="col-md-12 col-md-offset-0 heading2 animate-box">
                                <h2>{$tourname.title}</h2>
                            </div>
                            <div class="row">

                                {foreach $contentList as $key=>$vo}
                                <div class="col-md-12 animate-box">
                                    <div class="room-wrap">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="room-img" style="background-image: url({$vo.image});">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="desc">
                                                    <span class="day-tour">第 {$key+1} 天</span>
                                                    <h2>{$vo.title}</h2>
                                                    <p>{$vo.content}</p>
                                                    <p>酒店：Sudima CHC或同级4星酒店 午餐：上午抵达的客人赠送中式午餐晚餐：中式</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>